# Python
.venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Data
data/raw/
data/processed/
data/filtered/
checkpoints/
lichess_bot_auto_logs/
*.csv
data/uncertainty_stats.json
data/uncertainty_stats_1-10.json
data/uncertainty_stats_1-10.json
data/uncertainty_stats_*.json
data/positions_2300_bc.jsonl
